<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<link href="/htdocs/common/vendor1/index.css?15218739e398d511cf51" rel="stylesheet"><link href="/htdocs/module-one/main-two/index.css?15218739e398d511cf51" rel="stylesheet"></head>
<body>
    {{> module-one/tile/header}}
    {{> module-one/tile/nav}}
    {{> module-one/screen/main-one}}
    {{> module-one/tile/footer}}
<script type="text/javascript" src="/htdocs/common/vendor1/index.js?15218739e398d511cf51"></script><script type="text/javascript" src="/htdocs/module-one/main-two/index.js?15218739e398d511cf51"></script></body>
</html>